/* Style of body (content section) */
body {
    font-size: 10pt;
    width: 800px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
    font-family: sans-serif;
    line-height: 20px;
    color: #404040;
    justify-content: center;
}

/* Style of hyperlinks */
a {
    color: #003380;
    text-decoration: none;
}

.headlink {
    float: right;
    display: inline;
}

.headlink a {
    color: black;
    padding: 0px 12px 0px;
    font-size: 11pt;
}

/* Style for the bulleted points */
ul {
    line-height: 20px;
    list-style: square;
}

/* Style for images */
img {
    display: inline-block;
    hspace: 0px;
}

/* Third level heading used in the web-page */
h3 {
    font-variant: small-caps;
}


